# Notebook pour enlever les colonnes inutiles du DF et le charger sur MongoDB Atlas (cloud), version gratuite (< 512Mb)

In [17]:
import pandas as pd

In [18]:
df_csv = pd.read_csv('../data/processed_data.csv')

In [19]:
df_csv.columns

Index(['recipe_id', 'i', 'name_tokens', 'ingredient_tokens', 'steps_tokens',
       'techniques', 'calorie_level', 'ingredient_ids', 'name', 'minutes',
       'contributor_id', 'submitted', 'tags', 'nutrition', 'steps', 'n_steps',
       'description', 'ingredients', 'n_ingredients', 'review', 'date',
       'user_id', 'rating', 'cleaned_description', 'cleaned_name',
       'ingredients_processed', 'ingredients_replaced'],
      dtype='object')

In [20]:
df_csv.head()

,recipe_id,i,name_tokens,ingredient_tokens,steps_tokens,techniques,calorie_level,ingredient_ids,name,minutes,...,ingredients,n_ingredients,review,date,user_id,rating,cleaned_description,cleaned_name,ingredients_processed,ingredients_replaced
0,38,16791,"[40480, 954, 4739, 6449, 1674, 4787, 10601, 40...","[[12698, 11125], [4465, 29487, 6444], [15000, ...","[40480, 40482, 8263, 280, 7420, 11125, 556, 64...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,"[648, 3355, 7501, 4253]",low fat berry blue frozen dessert,1485,...,"['blueberries', 'granulated sugar', 'vanilla y...",4,"['Yummy, yummy, yummy! I am a big fan of fruit...","[datetime.date(2008, 2, 13), datetime.date(200...","[596506, 1060485, 1802956262, 2123645]","[5, 4, 4, 4]",[],"['fat', 'berry', 'dessert']","['blueberry', 'granulated sugar', 'vanilla yog...","['blueberry', 'granulated sugar', 'vanilla yog..."
1,40,99809,"[40480, 1432, 17746, 40481]","[[6444], [30295, 240, 17, 686, 498], [3137, 13...","[40480, 40482, 666, 246, 277, 660, 2212, 7932,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,"[6906, 4303, 2919, 2832, 3829, 1567]",best lemonade,35,...,"['sugar', 'lemons, rind of', 'fresh water', 'f...",6,"[""My favourite lemonade recipe is essentially ...","[datetime.date(2002, 12, 18), datetime.date(20...","[59064, 70154, 39949, 132353, 172249, 541967, ...","[5, 1, 4, 5, 4, 5, 5, 5, 5]","['house', 'cookbooks', 'zester', '*', 'order',...",['lemonade'],"['sugar', 'lemons, rind of', 'fresh water', 'f...","['sugar', 'lemons, rind of', 'fresh water', 'f..."
2,45,84204,"[40480, 6796, 5940, 7056, 556, 32669, 5776, 32...","[[6444], [7424, 745], [8441], [8441, 15953], [...","[40480, 40482, 729, 2525, 10906, 485, 43, 2885...","[1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[6906, 4574, 2499, 2509, 2683, 6270, 869, 3324...",buttermilk pie with gingersnap crumb crust,80,...,"['sugar', 'margarine', 'egg', 'egg whites', 'f...",9,"[""This was my first buttermilk pie (I had neve...","[datetime.date(2003, 9, 7), datetime.date(2009...","[81611, 1057076, 1060485]","[5, 0, 3]",['yum'],"['buttermilk', 'pie', 'crumb', 'crust']","['sugar', 'margarine', 'egg', 'egg white', 'fl...","['sugar', 'margarine', 'egg', 'egg white', 'fl..."
3,46,172842,"[40480, 246, 31704, 30710, 25199, 40481]","[[6878, 26285], [477, 869, 27, 14861], [548, 2...","[40480, 40482, 8654, 481, 30710, 500, 1667, 29...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,[6082],a jad cucumber pickle,25,...,"['rice vinegar', 'thangkwa', 'hom daeng', 'nam...",6,"[""I used regular sugar, and when it came to th...","[datetime.date(2002, 4, 3), datetime.date(2005...","[34280, 22015]","[5, 5]","['accompaniment', 'snacks', 'spring', 'rolls',...","['jad', 'cucumber', 'pickle']","['rice vinegar', None, None, None, None, None]","['rice vinegar', None, None, None, None, None]"
4,49,61982,"[40480, 5867, 6285, 518, 892, 489, 5385, 40481]","[[3137, 19104], [8780], [31801, 918, 15509, 58...","[40480, 40482, 5539, 19104, 500, 280, 3, 21, 3...","[1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, ...",2,"[2847, 840, 1254, 2683, 4593, 1257, 6270, 4836...",chicken breasts lombardi,75,...,"['fresh mushrooms', 'butter', 'boneless skinle...",10,"[""I give this recipe a good to high rating bec...","[datetime.date(2002, 6, 21), datetime.date(200...","[19893, 39835, 69551, 198709, 198344, 365923, ...","[4, 4, 5, 4, 5, 5, 0, 5, 5, 0, 5, 5, 5, 5, 5, ...","['chicken', 'mushrooms', 'marsala']","['chicken', 'breasts']","['fresh mushroom', 'butter', 'chicken breast h...","['fresh mushroom', 'butter', 'chicken breast h..."

In [21]:
df_csv['submitted'][0]

'1999-08-09'

In [22]:
import datetime

datetime.datetime.strptime(df_csv['submitted'][0], '%Y-%m-%d')

datetime.datetime(1999, 8, 9, 0, 0)

In [23]:
df_csv['submitted'] = df_csv['submitted'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d'))

In [24]:
df_csv['date'][0]

'[datetime.date(2008, 2, 13), datetime.date(2009, 1, 15), datetime.date(2014, 7, 22), datetime.date(2014, 8, 14)]'

In [25]:
from datetime import datetime
import re
import ast

def convert_to_datetime_list(date_str):
    try:
        # Extraire les dates au format (YYYY, MM, DD)
        matches = re.findall(r'datetime\.date\((\d{4}), (\d{1,2}), (\d{1,2})\)', date_str)
        # Convertir les tuples extraits en objets datetime
        return [datetime(int(year), int(month), int(day)) for year, month, day in matches]
    except Exception as e:
        print(f"Erreur lors du traitement : {date_str}. Détails : {e}")
        return []
    
df_csv['date'] = df_csv['date'].apply(convert_to_datetime_list)

In [26]:
df_csv['date'][10]

[datetime.datetime(2008, 5, 17, 0, 0),
 datetime.datetime(2008, 5, 23, 0, 0),
 datetime.datetime(2009, 2, 3, 0, 0),
 datetime.datetime(2010, 1, 26, 0, 0)]

In [27]:

size_in_bytes = df_csv.memory_usage(deep=True).sum()
size_mb = size_in_bytes / 1024 ** 2
print(f"Taille du DataFrame en mémoire : {size_mb} Mb")

Taille du DataFrame en mémoire : 925.957353591919 Mb

In [28]:

num_rows, num_cols = df_csv.shape
print(f"Nombre de lignes : {num_rows}, Nombre de colonnes : {num_cols}")

Nombre de lignes : 177429, Nombre de colonnes : 27

In [29]:
df_csv.columns

Index(['recipe_id', 'i', 'name_tokens', 'ingredient_tokens', 'steps_tokens',
       'techniques', 'calorie_level', 'ingredient_ids', 'name', 'minutes',
       'contributor_id', 'submitted', 'tags', 'nutrition', 'steps', 'n_steps',
       'description', 'ingredients', 'n_ingredients', 'review', 'date',
       'user_id', 'rating', 'cleaned_description', 'cleaned_name',
       'ingredients_processed', 'ingredients_replaced'],
      dtype='object')

In [30]:
df_csv = df_csv.drop(columns=['ingredient_tokens', 'ingredients_processed', 'ingredients', 'name', 'description','nutrition', 'calorie_level', 'n_steps', 'n_ingredients', 'i' ])

In [33]:
df_csv.columns

Index(['recipe_id', 'name_tokens', 'steps_tokens', 'techniques',
       'ingredient_ids', 'minutes', 'contributor_id', 'submitted', 'tags',
       'steps', 'review', 'date', 'user_id', 'rating', 'cleaned_description',
       'cleaned_name', 'ingredients_replaced'],
      dtype='object')

In [31]:

size_in_bytes = df_csv.memory_usage(deep=True).sum()
size_mb = size_in_bytes / 1024 ** 2
print(f"Taille du DataFrame en mémoire : {size_mb} Mb")

Taille du DataFrame en mémoire : 756.3313236236572 Mb

In [32]:

num_rows, num_cols = df_csv.shape
print(f"Nombre de lignes : {num_rows}, Nombre de colonnes : {num_cols}")

Nombre de lignes : 177429, Nombre de colonnes : 17