# Notebook pour enlever les colonnes inutiles du DF et le charger sur MongoDB Atlas (cloud), version gratuite (< 512Mb)

In [175]:
import pandas as pd 
import numpy as np

In [176]:
df_csv = pd.read_csv('../data/processed_data.csv')

In [177]:
df_csv.columns

Index(['recipe_id', 'i', 'name_tokens', 'ingredient_tokens', 'steps_tokens',
       'techniques', 'calorie_level', 'ingredient_ids', 'name', 'minutes',
       'contributor_id', 'submitted', 'tags', 'nutrition', 'steps', 'n_steps',
       'description', 'ingredients', 'n_ingredients', 'review', 'date',
       'user_id', 'rating', 'cleaned_description', 'cleaned_name',
       'ingredients_processed', 'ingredients_replaced'],
      dtype='object')

In [178]:
df_csv.head()

,recipe_id,i,name_tokens,ingredient_tokens,steps_tokens,techniques,calorie_level,ingredient_ids,name,minutes,...,ingredients,n_ingredients,review,date,user_id,rating,cleaned_description,cleaned_name,ingredients_processed,ingredients_replaced
0,38,16791,"[40480, 954, 4739, 6449, 1674, 4787, 10601, 40...","[[12698, 11125], [4465, 29487, 6444], [15000, ...","[40480, 40482, 8263, 280, 7420, 11125, 556, 64...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,"[648, 3355, 7501, 4253]",low fat berry blue frozen dessert,1485,...,"['blueberries', 'granulated sugar', 'vanilla y...",4,"['Yummy, yummy, yummy! I am a big fan of fruit...","[datetime.date(2008, 2, 13), datetime.date(200...","[596506, 1060485, 1802956262, 2123645]","[5, 4, 4, 4]",[],"['fat', 'berry', 'dessert']","['blueberry', 'granulated sugar', 'vanilla yog...","['blueberry', 'granulated sugar', 'vanilla yog..."
1,40,99809,"[40480, 1432, 17746, 40481]","[[6444], [30295, 240, 17, 686, 498], [3137, 13...","[40480, 40482, 666, 246, 277, 660, 2212, 7932,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,"[6906, 4303, 2919, 2832, 3829, 1567]",best lemonade,35,...,"['sugar', 'lemons, rind of', 'fresh water', 'f...",6,"[""My favourite lemonade recipe is essentially ...","[datetime.date(2002, 12, 18), datetime.date(20...","[59064, 70154, 39949, 132353, 172249, 541967, ...","[5, 1, 4, 5, 4, 5, 5, 5, 5]","['house', 'cookbooks', 'zester', '*', 'order',...",['lemonade'],"['sugar', 'lemons, rind of', 'fresh water', 'f...","['sugar', 'lemons, rind of', 'fresh water', 'f..."
2,45,84204,"[40480, 6796, 5940, 7056, 556, 32669, 5776, 32...","[[6444], [7424, 745], [8441], [8441, 15953], [...","[40480, 40482, 729, 2525, 10906, 485, 43, 2885...","[1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[6906, 4574, 2499, 2509, 2683, 6270, 869, 3324...",buttermilk pie with gingersnap crumb crust,80,...,"['sugar', 'margarine', 'egg', 'egg whites', 'f...",9,"[""This was my first buttermilk pie (I had neve...","[datetime.date(2003, 9, 7), datetime.date(2009...","[81611, 1057076, 1060485]","[5, 0, 3]",['yum'],"['buttermilk', 'pie', 'crumb', 'crust']","['sugar', 'margarine', 'egg', 'egg white', 'fl...","['sugar', 'margarine', 'egg', 'egg white', 'fl..."
3,46,172842,"[40480, 246, 31704, 30710, 25199, 40481]","[[6878, 26285], [477, 869, 27, 14861], [548, 2...","[40480, 40482, 8654, 481, 30710, 500, 1667, 29...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,[6082],a jad cucumber pickle,25,...,"['rice vinegar', 'thangkwa', 'hom daeng', 'nam...",6,"[""I used regular sugar, and when it came to th...","[datetime.date(2002, 4, 3), datetime.date(2005...","[34280, 22015]","[5, 5]","['accompaniment', 'snacks', 'spring', 'rolls',...","['jad', 'cucumber', 'pickle']","['rice vinegar', None, None, None, None, None]","['rice vinegar', None, None, None, None, None]"
4,49,61982,"[40480, 5867, 6285, 518, 892, 489, 5385, 40481]","[[3137, 19104], [8780], [31801, 918, 15509, 58...","[40480, 40482, 5539, 19104, 500, 280, 3, 21, 3...","[1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, ...",2,"[2847, 840, 1254, 2683, 4593, 1257, 6270, 4836...",chicken breasts lombardi,75,...,"['fresh mushrooms', 'butter', 'boneless skinle...",10,"[""I give this recipe a good to high rating bec...","[datetime.date(2002, 6, 21), datetime.date(200...","[19893, 39835, 69551, 198709, 198344, 365923, ...","[4, 4, 5, 4, 5, 5, 0, 5, 5, 0, 5, 5, 5, 5, 5, ...","['chicken', 'mushrooms', 'marsala']","['chicken', 'breasts']","['fresh mushroom', 'butter', 'chicken breast h...","['fresh mushroom', 'butter', 'chicken breast h..."

In [179]:
df_csv['submitted'][0]

'1999-08-09'

In [180]:
df_csv['date'][0]

'[datetime.date(2008, 2, 13), datetime.date(2009, 1, 15), datetime.date(2014, 7, 22), datetime.date(2014, 8, 14)]'

In [181]:
from datetime import datetime
import re
import ast

In [182]:

size_in_bytes = df_csv.memory_usage(deep=True).sum()
size_mb = size_in_bytes / 1024 ** 2
print(f"Taille du DataFrame en mémoire : {size_mb} Mb")

Taille du DataFrame en mémoire : 946.508617401123 Mb

In [183]:
def convert_date_list_to_iso(date_str):
    try:
        # Extraire les dates au format (YYYY, MM, DD)
        matches = re.findall(r'datetime\.date\((\d{4}), (\d{1,2}), (\d{1,2})\)', date_str)
        # Convertir chaque tuple en chaîne ISO (YYYY-MM-DD)
        return [datetime(int(year), int(month), int(day)).date().isoformat() for year, month, day in matches]
    except Exception as e:
        print(f"Erreur lors du traitement de 'date': {e}")
        return []

def convert_submitted_to_iso(submitted):
    try:
        if isinstance(submitted, str):  # Si c'est une chaîne
            return datetime.strptime(submitted, '%Y-%m-%d').date().isoformat()
        elif isinstance(submitted, pd.Timestamp):  # Si c'est un Timestamp
            return submitted.to_pydatetime().date().isoformat()
        elif isinstance(submitted, datetime):  # Si c'est déjà un objet datetime
            return submitted.date().isoformat()
        else:
            print(f"Format inattendu dans la colonne 'submitted' : {submitted}")
            return None
    except Exception as e:
        print(f"Erreur lors du traitement de 'submitted': {e}")
        return None

In [184]:
# Appliquer la conversion sur la colonne 'date' pour produire des listes de chaînes ISO 8601
df_csv['date'] = df_csv['date'].apply(convert_date_list_to_iso)

# Appliquer la conversion sur la colonne 'submitted' pour produire des chaînes ISO 8601
df_csv['submitted'] = df_csv['submitted'].apply(convert_submitted_to_iso)

In [185]:

num_rows, num_cols = df_csv.shape
print(f"Nombre de lignes : {num_rows}, Nombre de colonnes : {num_cols}")

Nombre de lignes : 177429, Nombre de colonnes : 27

In [186]:
df_csv.columns

Index(['recipe_id', 'i', 'name_tokens', 'ingredient_tokens', 'steps_tokens',
       'techniques', 'calorie_level', 'ingredient_ids', 'name', 'minutes',
       'contributor_id', 'submitted', 'tags', 'nutrition', 'steps', 'n_steps',
       'description', 'ingredients', 'n_ingredients', 'review', 'date',
       'user_id', 'rating', 'cleaned_description', 'cleaned_name',
       'ingredients_processed', 'ingredients_replaced'],
      dtype='object')

In [187]:
df_csv = df_csv.drop(columns=['ingredient_tokens', 'ingredients_processed', 'ingredients', 'name', 'description','nutrition', 'calorie_level', 'n_ingredients', 'i', 'name_tokens', 'steps_tokens', 'ingredient_ids', 'tags' ])

In [188]:
df_csv.columns

Index(['recipe_id', 'techniques', 'minutes', 'contributor_id', 'submitted',
       'steps', 'n_steps', 'review', 'date', 'user_id', 'rating',
       'cleaned_description', 'cleaned_name', 'ingredients_replaced'],
      dtype='object')

In [189]:
df_csv.head()

,recipe_id,techniques,minutes,contributor_id,submitted,steps,n_steps,review,date,user_id,rating,cleaned_description,cleaned_name,ingredients_replaced
0,38,"[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1485,1533,1999-08-09,"['toss 2 cups berries with sugar', 'let stand ...",13,"['Yummy, yummy, yummy! I am a big fan of fruit...","[2008-02-13, 2009-01-15, 2014-07-22, 2014-08-14]","[596506, 1060485, 1802956262, 2123645]","[5, 4, 4, 4]",[],"['fat', 'berry', 'dessert']","['blueberry', 'granulated sugar', 'vanilla yog..."
1,40,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",35,1566,1999-09-05,"['into a 1 quart jar with tight fitting lid , ...",8,"[""My favourite lemonade recipe is essentially ...","[2002-12-18, 2003-02-01, 2003-08-13, 2004-06-0...","[59064, 70154, 39949, 132353, 172249, 541967, ...","[5, 1, 4, 5, 4, 5, 5, 5, 5]","['house', 'cookbooks', 'zester', '*', 'order',...",['lemonade'],"['sugar', 'lemons, rind of', 'fresh water', 'f..."
2,45,"[1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",80,1580,1999-08-06,"['preheat oven to 350f', 'make pie crust , usi...",10,"[""This was my first buttermilk pie (I had neve...","[2003-09-07, 2009-02-11, 2009-02-17]","[81611, 1057076, 1060485]","[5, 0, 3]",['yum'],"['buttermilk', 'pie', 'crumb', 'crust']","['sugar', 'margarine', 'egg', 'egg white', 'fl..."
3,46,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",25,1533,1999-08-11,"['slice the cucumber in four lengthwise , then...",5,"[""I used regular sugar, and when it came to th...","[2002-04-03, 2005-07-26]","[34280, 22015]","[5, 5]","['accompaniment', 'snacks', 'spring', 'rolls',...","['jad', 'cucumber', 'pickle']","['rice vinegar', None, None, None, None, None]"
4,49,"[1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, ...",75,174711,1999-08-14,['cook mushrooms in 2 tbsp butter in a large s...,22,"[""I give this recipe a good to high rating bec...","[2002-06-21, 2002-10-07, 2003-05-18, 2005-02-2...","[19893, 39835, 69551, 198709, 198344, 365923, ...","[4, 4, 5, 4, 5, 5, 0, 5, 5, 0, 5, 5, 5, 5, 5, ...","['chicken', 'mushrooms', 'marsala']","['chicken', 'breasts']","['fresh mushroom', 'butter', 'chicken breast h..."

In [190]:

size_in_bytes = df_csv.memory_usage(deep=True).sum()
size_mb = size_in_bytes / 1024 ** 2
print(f"Taille du DataFrame en mémoire : {size_mb} Mb")

Taille du DataFrame en mémoire : 554.8520460128784 Mb

In [191]:

num_rows, num_cols = df_csv.shape
print(f"Nombre de lignes : {num_rows}, Nombre de colonnes : {num_cols}")

Nombre de lignes : 177429, Nombre de colonnes : 14

In [192]:
def clean_data(x):
    if isinstance(x, np.generic):  # Convertir numpy types en types Python natifs
        return x.item()
    elif isinstance(x, list):
        return [clean_data(i) for i in x]
    elif x is None or pd.isna(x):
        return None  # MongoDB accepte None comme null
    return x

In [193]:
df_cleaned = df_csv.applymap(clean_data)

/tmp/ipykernel_194805/212926548.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_cleaned = df_csv.applymap(clean_data)

In [194]:
records = df_cleaned.to_dict(orient="records")

In [195]:
from pymongo import MongoClient
from dotenv import load_dotenv
import os

load_dotenv()

uri = os.getenv("URI_DB")
if not uri:
    raise ValueError("URI MongoDB introuvable dans le fichier .env")

Python-dotenv could not parse statement starting at line 2

In [196]:
print(uri)

mongodb+srv://user_git:Onn1BcsdGls68cEJ@mangetamain.lwzmm.mongodb.net/?retryWrites=true&w=majority&appName=MangeTaMain&connectTimeoutMS=0&socketTimeoutMS=0

In [197]:
client = MongoClient(uri)

In [198]:
db_name = "MangaTaMainDF"

In [199]:
client.drop_database(db_name)
print(f"La base de données {db_name} a été supprimée.")

La base de données MangaTaMainDF a été supprimée.

In [200]:

db = client[db_name]
collection = db["Food.com"]

In [201]:
print("Bases de données disponibles :", client.list_database_names())

Bases de données disponibles : ['admin', 'local']

In [202]:
def insert_data_in_chunks(collection, records, chunk_size=1000):
    """
    Insère les données dans MongoDB en plusieurs petits lots pour éviter la surcharge.

    :param collection: Collection MongoDB dans laquelle insérer les données.
    :param records: Liste des documents à insérer.
    :param chunk_size: Taille des lots d'insertion.
    """
    total_records = len(records)
    
    print(f"Nombre total de documents à insérer : {total_records}, en {total_records // chunk_size + 1} lots.")
    
    for i in range(0, total_records, chunk_size):
        chunk = records[i:i + chunk_size]
        try:
            collection.insert_many(chunk)
            print(f"Lot {i // chunk_size + 1} : {len(chunk)} documents insérés. Restant : {total_records - (i // chunk_size + 1) * len(chunk)}")
        except Exception as e:
            print(f"Erreur lors de l'insertion du lot {i // chunk_size + 1} : {e}")

    print("Insertion des données terminée avec succès.")

In [203]:
# Appeler la fonction
insert_data_in_chunks(collection, records, chunk_size=500)

Nombre total de documents à insérer : 177429, en 355 lots.
Lot 1 : 500 documents insérés. Restant : 176929
Lot 2 : 500 documents insérés. Restant : 176429
Lot 3 : 500 documents insérés. Restant : 175929
Lot 4 : 500 documents insérés. Restant : 175429
Lot 5 : 500 documents insérés. Restant : 174929
Lot 6 : 500 documents insérés. Restant : 174429
Lot 7 : 500 documents insérés. Restant : 173929
Lot 8 : 500 documents insérés. Restant : 173429
Lot 9 : 500 documents insérés. Restant : 172929
Lot 10 : 500 documents insérés. Restant : 172429
Lot 11 : 500 documents insérés. Restant : 171929
Lot 12 : 500 documents insérés. Restant : 171429
Lot 13 : 500 documents insérés. Restant : 170929
Lot 14 : 500 documents insérés. Restant : 170429
Lot 15 : 500 documents insérés. Restant : 169929
Lot 16 : 500 documents insérés. Restant : 169429
Lot 17 : 500 documents insérés. Restant : 168929
Lot 18 : 500 documents insérés. Restant : 168429
Lot 19 : 500 documents insérés. Restant : 167929
Lot 20 : 500 documents insérés. Restant : 167429
Lot 21 : 500 documents insérés. Restant : 166929
Lot 22 : 500 documents insérés. Restant : 166429
Lot 23 : 500 documents insérés. Restant : 165929
Lot 24 : 500 documents insérés. Restant : 165429
Lot 25 : 500 documents insérés. Restant : 164929
Lot 26 : 500 documents insérés. Restant : 164429
Lot 27 : 500 documents insérés. Restant : 163929
Lot 28 : 500 documents insérés. Restant : 163429
Lot 29 : 500 documents insérés. Restant : 162929
Lot 30 : 500 documents insérés. Restant : 162429
Lot 31 : 500 documents insérés. Restant : 161929
Lot 32 : 500 documents insérés. Restant : 161429
Lot 33 : 500 documents insérés. Restant : 160929
Lot 34 : 500 documents insérés. Restant : 160429
Lot 35 : 500 documents insérés. Restant : 159929
Lot 36 : 500 documents insérés. Restant : 159429
Lot 37 : 500 documents insérés. Restant : 158929
Lot 38 : 500 documents insérés. Restant : 158429
Lot 39 : 500 documents insérés. Restant : 157929
Lot 40 : 500 documents insérés. Restant : 157429
Lot 41 : 500 documents insérés. Restant : 156929
Lot 42 : 500 documents insérés. Restant : 156429
Lot 43 : 500 documents insérés. Restant : 155929
Lot 44 : 500 documents insérés. Restant : 155429
Lot 45 : 500 documents insérés. Restant : 154929
Lot 46 : 500 documents insérés. Restant : 154429
Lot 47 : 500 documents insérés. Restant : 153929
Lot 48 : 500 documents insérés. Restant : 153429
Lot 49 : 500 documents insérés. Restant : 152929
Lot 50 : 500 documents insérés. Restant : 152429
Lot 51 : 500 documents insérés. Restant : 151929
Lot 52 : 500 documents insérés. Restant : 151429
Lot 53 : 500 documents insérés. Restant : 150929
Lot 54 : 500 documents insérés. Restant : 150429
Lot 55 : 500 documents insérés. Restant : 149929
Lot 56 : 500 documents insérés. Restant : 149429
Lot 57 : 500 documents insérés. Restant : 148929
Lot 58 : 500 documents insérés. Restant : 148429
Lot 59 : 500 documents insérés. Restant : 147929
Lot 60 : 500 documents insérés. Restant : 147429
Lot 61 : 500 documents insérés. Restant : 146929
Lot 62 : 500 documents insérés. Restant : 146429
Lot 63 : 500 documents insérés. Restant : 145929
Lot 64 : 500 documents insérés. Restant : 145429
Lot 65 : 500 documents insérés. Restant : 144929
Lot 66 : 500 documents insérés. Restant : 144429
Lot 67 : 500 documents insérés. Restant : 143929
Lot 68 : 500 documents insérés. Restant : 143429
Lot 69 : 500 documents insérés. Restant : 142929
Lot 70 : 500 documents insérés. Restant : 142429
Lot 71 : 500 documents insérés. Restant : 141929
Lot 72 : 500 documents insérés. Restant : 141429
Lot 73 : 500 documents insérés. Restant : 140929
Lot 74 : 500 documents insérés. Restant : 140429
Lot 75 : 500 documents insérés. Restant : 139929
Lot 76 : 500 documents insérés. Restant : 139429
Lot 77 : 500 documents insérés. Restant : 138929
Lot 78 : 500 documents insérés. Restant : 138429
Lot 79 : 500 documents insérés. Restant : 137929
Lot 80 : 500 documents insérés. Restant : 137429
Lot 81 : 500 documents insérés. Restant : 136929
Lot 82 : 500 documents insérés. Restant : 136429
Lot 83 : 500 documents insérés. Restant : 135929
Lot 84 : 500 documents insérés. Restant : 135429
Lot 85 : 500 documents insérés. Restant : 134929
Lot 86 : 500 documents insérés. Restant : 134429
Lot 87 : 500 documents insérés. Restant : 133929
Lot 88 : 500 documents insérés. Restant : 133429
Lot 89 : 500 documents insérés. Restant : 132929
Lot 90 : 500 documents insérés. Restant : 132429
Lot 91 : 500 documents insérés. Restant : 131929
Lot 92 : 500 documents insérés. Restant : 131429
Lot 93 : 500 documents insérés. Restant : 130929
Lot 94 : 500 documents insérés. Restant : 130429
Lot 95 : 500 documents insérés. Restant : 129929
Lot 96 : 500 documents insérés. Restant : 129429
Lot 97 : 500 documents insérés. Restant : 128929
Lot 98 : 500 documents insérés. Restant : 128429
Lot 99 : 500 documents insérés. Restant : 127929
Lot 100 : 500 documents insérés. Restant : 127429
Lot 101 : 500 documents insérés. Restant : 126929
Lot 102 : 500 documents insérés. Restant : 126429
Lot 103 : 500 documents insérés. Restant : 125929
Lot 104 : 500 documents insérés. Restant : 125429
Lot 105 : 500 documents insérés. Restant : 124929
Lot 106 : 500 documents insérés. Restant : 124429
Lot 107 : 500 documents insérés. Restant : 123929
Lot 108 : 500 documents insérés. Restant : 123429
Lot 109 : 500 documents insérés. Restant : 122929
Lot 110 : 500 documents insérés. Restant : 122429
Lot 111 : 500 documents insérés. Restant : 121929
Lot 112 : 500 documents insérés. Restant : 121429
Lot 113 : 500 documents insérés. Restant : 120929
Lot 114 : 500 documents insérés. Restant : 120429
Lot 115 : 500 documents insérés. Restant : 119929
Lot 116 : 500 documents insérés. Restant : 119429
Lot 117 : 500 documents insérés. Restant : 118929
Lot 118 : 500 documents insérés. Restant : 118429
Lot 119 : 500 documents insérés. Restant : 117929
Lot 120 : 500 documents insérés. Restant : 117429
Lot 121 : 500 documents insérés. Restant : 116929
Lot 122 : 500 documents insérés. Restant : 116429
Lot 123 : 500 documents insérés. Restant : 115929
Lot 124 : 500 documents insérés. Restant : 115429
Lot 125 : 500 documents insérés. Restant : 114929
Lot 126 : 500 documents insérés. Restant : 114429
Lot 127 : 500 documents insérés. Restant : 113929
Lot 128 : 500 documents insérés. Restant : 113429
Lot 129 : 500 documents insérés. Restant : 112929
Lot 130 : 500 documents insérés. Restant : 112429
Lot 131 : 500 documents insérés. Restant : 111929
Lot 132 : 500 documents insérés. Restant : 111429
Lot 133 : 500 documents insérés. Restant : 110929
Lot 134 : 500 documents insérés. Restant : 110429
Lot 135 : 500 documents insérés. Restant : 109929
Lot 136 : 500 documents insérés. Restant : 109429
Lot 137 : 500 documents insérés. Restant : 108929
Lot 138 : 500 documents insérés. Restant : 108429
Lot 139 : 500 documents insérés. Restant : 107929
Lot 140 : 500 documents insérés. Restant : 107429
Lot 141 : 500 documents insérés. Restant : 106929
Lot 142 : 500 documents insérés. Restant : 106429
Lot 143 : 500 documents insérés. Restant : 105929
Lot 144 : 500 documents insérés. Restant : 105429
Lot 145 : 500 documents insérés. Restant : 104929
Lot 146 : 500 documents insérés. Restant : 104429
Lot 147 : 500 documents insérés. Restant : 103929
Lot 148 : 500 documents insérés. Restant : 103429
Lot 149 : 500 documents insérés. Restant : 102929
Lot 150 : 500 documents insérés. Restant : 102429
Lot 151 : 500 documents insérés. Restant : 101929
Lot 152 : 500 documents insérés. Restant : 101429
Lot 153 : 500 documents insérés. Restant : 100929
Lot 154 : 500 documents insérés. Restant : 100429
Lot 155 : 500 documents insérés. Restant : 99929
Lot 156 : 500 documents insérés. Restant : 99429
Lot 157 : 500 documents insérés. Restant : 98929
Lot 158 : 500 documents insérés. Restant : 98429
Lot 159 : 500 documents insérés. Restant : 97929
Lot 160 : 500 documents insérés. Restant : 97429
Lot 161 : 500 documents insérés. Restant : 96929
Lot 162 : 500 documents insérés. Restant : 96429
Lot 163 : 500 documents insérés. Restant : 95929
Lot 164 : 500 documents insérés. Restant : 95429
Lot 165 : 500 documents insérés. Restant : 94929
Lot 166 : 500 documents insérés. Restant : 94429
Lot 167 : 500 documents insérés. Restant : 93929
Lot 168 : 500 documents insérés. Restant : 93429
Lot 169 : 500 documents insérés. Restant : 92929
Lot 170 : 500 documents insérés. Restant : 92429
Lot 171 : 500 documents insérés. Restant : 91929
Lot 172 : 500 documents insérés. Restant : 91429
Lot 173 : 500 documents insérés. Restant : 90929
Lot 174 : 500 documents insérés. Restant : 90429
Lot 175 : 500 documents insérés. Restant : 89929
Lot 176 : 500 documents insérés. Restant : 89429
Lot 177 : 500 documents insérés. Restant : 88929
Lot 178 : 500 documents insérés. Restant : 88429
Lot 179 : 500 documents insérés. Restant : 87929
Lot 180 : 500 documents insérés. Restant : 87429
Lot 181 : 500 documents insérés. Restant : 86929
Lot 182 : 500 documents insérés. Restant : 86429
Lot 183 : 500 documents insérés. Restant : 85929
Lot 184 : 500 documents insérés. Restant : 85429
Lot 185 : 500 documents insérés. Restant : 84929
Lot 186 : 500 documents insérés. Restant : 84429
Lot 187 : 500 documents insérés. Restant : 83929
Lot 188 : 500 documents insérés. Restant : 83429
Lot 189 : 500 documents insérés. Restant : 82929
Lot 190 : 500 documents insérés. Restant : 82429
Lot 191 : 500 documents insérés. Restant : 81929
Lot 192 : 500 documents insérés. Restant : 81429
Lot 193 : 500 documents insérés. Restant : 80929
Lot 194 : 500 documents insérés. Restant : 80429
Lot 195 : 500 documents insérés. Restant : 79929
Lot 196 : 500 documents insérés. Restant : 79429
Lot 197 : 500 documents insérés. Restant : 78929
Lot 198 : 500 documents insérés. Restant : 78429
Lot 199 : 500 documents insérés. Restant : 77929
Lot 200 : 500 documents insérés. Restant : 77429
Lot 201 : 500 documents insérés. Restant : 76929
Lot 202 : 500 documents insérés. Restant : 76429
Lot 203 : 500 documents insérés. Restant : 75929
Lot 204 : 500 documents insérés. Restant : 75429
Lot 205 : 500 documents insérés. Restant : 74929
Lot 206 : 500 documents insérés. Restant : 74429
Lot 207 : 500 documents insérés. Restant : 73929
Lot 208 : 500 documents insérés. Restant : 73429
Lot 209 : 500 documents insérés. Restant : 72929
Lot 210 : 500 documents insérés. Restant : 72429
Lot 211 : 500 documents insérés. Restant : 71929
Lot 212 : 500 documents insérés. Restant : 71429
Lot 213 : 500 documents insérés. Restant : 70929
Lot 214 : 500 documents insérés. Restant : 70429
Lot 215 : 500 documents insérés. Restant : 69929
Lot 216 : 500 documents insérés. Restant : 69429
Lot 217 : 500 documents insérés. Restant : 68929
Lot 218 : 500 documents insérés. Restant : 68429
Lot 219 : 500 documents insérés. Restant : 67929
Lot 220 : 500 documents insérés. Restant : 67429
Lot 221 : 500 documents insérés. Restant : 66929
Lot 222 : 500 documents insérés. Restant : 66429
Lot 223 : 500 documents insérés. Restant : 65929
Lot 224 : 500 documents insérés. Restant : 65429
Lot 225 : 500 documents insérés. Restant : 64929
Lot 226 : 500 documents insérés. Restant : 64429
Lot 227 : 500 documents insérés. Restant : 63929
Lot 228 : 500 documents insérés. Restant : 63429
Lot 229 : 500 documents insérés. Restant : 62929
Lot 230 : 500 documents insérés. Restant : 62429
Lot 231 : 500 documents insérés. Restant : 61929
Lot 232 : 500 documents insérés. Restant : 61429
Lot 233 : 500 documents insérés. Restant : 60929
Lot 234 : 500 documents insérés. Restant : 60429
Lot 235 : 500 documents insérés. Restant : 59929
Lot 236 : 500 documents insérés. Restant : 59429
Lot 237 : 500 documents insérés. Restant : 58929
Lot 238 : 500 documents insérés. Restant : 58429
Lot 239 : 500 documents insérés. Restant : 57929
Lot 240 : 500 documents insérés. Restant : 57429
Lot 241 : 500 documents insérés. Restant : 56929
Lot 242 : 500 documents insérés. Restant : 56429
Lot 243 : 500 documents insérés. Restant : 55929
Lot 244 : 500 documents insérés. Restant : 55429
Lot 245 : 500 documents insérés. Restant : 54929
Lot 246 : 500 documents insérés. Restant : 54429
Lot 247 : 500 documents insérés. Restant : 53929
Lot 248 : 500 documents insérés. Restant : 53429
Lot 249 : 500 documents insérés. Restant : 52929
Lot 250 : 500 documents insérés. Restant : 52429
Lot 251 : 500 documents insérés. Restant : 51929
Lot 252 : 500 documents insérés. Restant : 51429
Lot 253 : 500 documents insérés. Restant : 50929
Lot 254 : 500 documents insérés. Restant : 50429
Lot 255 : 500 documents insérés. Restant : 49929
Lot 256 : 500 documents insérés. Restant : 49429
Lot 257 : 500 documents insérés. Restant : 48929
Lot 258 : 500 documents insérés. Restant : 48429
Lot 259 : 500 documents insérés. Restant : 47929
Lot 260 : 500 documents insérés. Restant : 47429
Lot 261 : 500 documents insérés. Restant : 46929
Lot 262 : 500 documents insérés. Restant : 46429
Lot 263 : 500 documents insérés. Restant : 45929
Lot 264 : 500 documents insérés. Restant : 45429
Lot 265 : 500 documents insérés. Restant : 44929
Lot 266 : 500 documents insérés. Restant : 44429
Lot 267 : 500 documents insérés. Restant : 43929
Lot 268 : 500 documents insérés. Restant : 43429
Lot 269 : 500 documents insérés. Restant : 42929
Lot 270 : 500 documents insérés. Restant : 42429
Lot 271 : 500 documents insérés. Restant : 41929
Lot 272 : 500 documents insérés. Restant : 41429
Lot 273 : 500 documents insérés. Restant : 40929
Lot 274 : 500 documents insérés. Restant : 40429
Lot 275 : 500 documents insérés. Restant : 39929
Lot 276 : 500 documents insérés. Restant : 39429
Lot 277 : 500 documents insérés. Restant : 38929
Lot 278 : 500 documents insérés. Restant : 38429
Lot 279 : 500 documents insérés. Restant : 37929
Lot 280 : 500 documents insérés. Restant : 37429
Lot 281 : 500 documents insérés. Restant : 36929
Lot 282 : 500 documents insérés. Restant : 36429
Lot 283 : 500 documents insérés. Restant : 35929
Lot 284 : 500 documents insérés. Restant : 35429
Lot 285 : 500 documents insérés. Restant : 34929
Lot 286 : 500 documents insérés. Restant : 34429
Lot 287 : 500 documents insérés. Restant : 33929
Lot 288 : 500 documents insérés. Restant : 33429
Lot 289 : 500 documents insérés. Restant : 32929
Lot 290 : 500 documents insérés. Restant : 32429
Lot 291 : 500 documents insérés. Restant : 31929
Lot 292 : 500 documents insérés. Restant : 31429
Lot 293 : 500 documents insérés. Restant : 30929
Lot 294 : 500 documents insérés. Restant : 30429
Lot 295 : 500 documents insérés. Restant : 29929
Lot 296 : 500 documents insérés. Restant : 29429
Lot 297 : 500 documents insérés. Restant : 28929
Lot 298 : 500 documents insérés. Restant : 28429
Lot 299 : 500 documents insérés. Restant : 27929
Lot 300 : 500 documents insérés. Restant : 27429
Lot 301 : 500 documents insérés. Restant : 26929
Lot 302 : 500 documents insérés. Restant : 26429
Lot 303 : 500 documents insérés. Restant : 25929
Lot 304 : 500 documents insérés. Restant : 25429
Lot 305 : 500 documents insérés. Restant : 24929
Lot 306 : 500 documents insérés. Restant : 24429
Lot 307 : 500 documents insérés. Restant : 23929
Lot 308 : 500 documents insérés. Restant : 23429
Lot 309 : 500 documents insérés. Restant : 22929
Lot 310 : 500 documents insérés. Restant : 22429
Lot 311 : 500 documents insérés. Restant : 21929
Lot 312 : 500 documents insérés. Restant : 21429
Lot 313 : 500 documents insérés. Restant : 20929
Lot 314 : 500 documents insérés. Restant : 20429
Lot 315 : 500 documents insérés. Restant : 19929
Lot 316 : 500 documents insérés. Restant : 19429
Lot 317 : 500 documents insérés. Restant : 18929
Lot 318 : 500 documents insérés. Restant : 18429
Lot 319 : 500 documents insérés. Restant : 17929
Lot 320 : 500 documents insérés. Restant : 17429
Lot 321 : 500 documents insérés. Restant : 16929
Lot 322 : 500 documents insérés. Restant : 16429
Lot 323 : 500 documents insérés. Restant : 15929
Lot 324 : 500 documents insérés. Restant : 15429
Lot 325 : 500 documents insérés. Restant : 14929
Lot 326 : 500 documents insérés. Restant : 14429
Lot 327 : 500 documents insérés. Restant : 13929
Lot 328 : 500 documents insérés. Restant : 13429
Lot 329 : 500 documents insérés. Restant : 12929
Lot 330 : 500 documents insérés. Restant : 12429
Lot 331 : 500 documents insérés. Restant : 11929
Lot 332 : 500 documents insérés. Restant : 11429
Lot 333 : 500 documents insérés. Restant : 10929
Lot 334 : 500 documents insérés. Restant : 10429
Lot 335 : 500 documents insérés. Restant : 9929
Lot 336 : 500 documents insérés. Restant : 9429
Lot 337 : 500 documents insérés. Restant : 8929
Lot 338 : 500 documents insérés. Restant : 8429
Lot 339 : 500 documents insérés. Restant : 7929
Lot 340 : 500 documents insérés. Restant : 7429
Lot 341 : 500 documents insérés. Restant : 6929
Lot 342 : 500 documents insérés. Restant : 6429
Lot 343 : 500 documents insérés. Restant : 5929
Lot 344 : 500 documents insérés. Restant : 5429
Lot 345 : 500 documents insérés. Restant : 4929
Lot 346 : 500 documents insérés. Restant : 4429
Lot 347 : 500 documents insérés. Restant : 3929
Lot 348 : 500 documents insérés. Restant : 3429
Lot 349 : 500 documents insérés. Restant : 2929
Lot 350 : 500 documents insérés. Restant : 2429
Lot 351 : 500 documents insérés. Restant : 1929
Lot 352 : 500 documents insérés. Restant : 1429
Lot 353 : 500 documents insérés. Restant : 929
Lot 354 : 500 documents insérés. Restant : 429
Lot 355 : 429 documents insérés. Restant : 25134
Insertion des données terminée avec succès.

In [204]:
client.close()