In [2]:
import pandas as pd
import ast
from IPython.display import display

In [3]:
PP_recipe = pd.read_csv("PP_recipes.csv")
PP_users = pd.read_csv("PP_users.csv")
RAW_recipes = pd.read_csv("RAW_recipes.csv")
interactions_test = pd.read_csv("interactions_test.csv")

In [11]:
def split_on_comma_outside_quotes(text):
    new_text = ""
    inside_quotes = False
    
    for char in text:
        if char == "'":
            inside_quotes = not inside_quotes
        if char == ',' and not inside_quotes:
            new_text.append('')
        if char == "[":
            new_text = new_text
        if char == "]":
            new_text = new_text
        else:
            new_text.append(char)
    
    return ''.join(new_text)

In [15]:
id_recipe = 424415

recipe_1_PP = PP_recipe[PP_recipe["id"] == id_recipe]
recipe_1_RAW = RAW_recipes[RAW_recipes["id"] == id_recipe]

display(recipe_1_PP)

display(recipe_1_RAW)

recipe_1_RAW_description = (recipe_1_RAW["steps"].values[0])


cleaned_text = recipe_1_RAW_description.replace("[", "").replace("]", "").replace("'", "").replace('"', "")
cleaned_text = cleaned_text.replace(",", "\n")
cleaned_text = cleaned_text.strip()
print (cleaned_text)

print(recipe_1_RAW_description)
print(len(recipe_1_RAW_description))

,id,i,name_tokens,ingredient_tokens,steps_tokens,techniques,calorie_level,ingredient_ids
0,424415,23,"[40480, 37229, 2911, 1019, 249, 6878, 6878, 28...","[[2911, 1019, 249, 6878], [1353], [6953], [153...","[40480, 40482, 21662, 481, 6878, 500, 246, 161...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[389, 7655, 6270, 1527, 3406]"

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
8586,aromatic basmati rice rice cooker,424415,61,496803,2010-05-10,"['weeknight', 'time-to-make', 'course', 'main-...","[228.2, 2.0, 2.0, 8.0, 9.0, 1.0, 15.0]",6,"['rinse the rice in a fine strainer , then dra...",from the ultimate rice cooker cookbook. the a...,"['basmati rice', 'water', 'salt', 'cinnamon st...",5

rinse the rice in a fine strainer
 then drain thoroughly
 place all ingredients in the rice cooker bowl
 and swirl to combine
 set the machine for the regular white rice cycle
 when the machine shifts to keep warm
 set a timer for 15 minutes
 after 15 minutes
 fluff rice with the plastic paddle or a wooden spoon
 serve now
 or leave on keep warm for up to 4 hours
['rinse the rice in a fine strainer , then drain thoroughly', 'place all ingredients in the rice cooker bowl , and swirl to combine', 'set the machine for the regular white rice cycle', "when the machine shifts to 'keep warm' , set a timer for 15 minutes", 'after 15 minutes , fluff rice with the plastic paddle or a wooden spoon', "serve now , or leave on 'keep warm' for up to 4 hours"]
388

In [41]:
ingredients_to_search = ['basmati rice', 'water', 'salt', 'chicken']

pattern = ''.join([f'(?=.*\\b{ingredient}\\b)' for ingredient in ingredients_to_search])

matching_rows = RAW_recipes[RAW_recipes['ingredients'].str.contains(pattern, case=False, na=False, regex=True)]

In [44]:
matching_rows["full_nutrition"] = matching_rows['nutrition'].apply(ast.literal_eval)
matching_rows["full_nutrition"] = matching_rows['full_nutrition'].apply(lambda x: x)
matching_rows["calories"] = matching_rows['full_nutrition'].apply(lambda x: x[0])

max_calories = 500

filtered_recipes = matching_rows[matching_rows['calories'] < max_calories]

display(filtered_recipes.head())

/tmp/ipykernel_15829/2469586366.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matching_rows["full_nutrition"] = matching_rows['nutrition'].apply(ast.literal_eval)
/tmp/ipykernel_15829/2469586366.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matching_rows["full_nutrition"] = matching_rows['full_nutrition'].apply(lambda x: x)
/tmp/ipykernel_15829/2469586366.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matching_rows["calories"] = matching_rows['full_nutrition'].apply(lambda x: x[0])

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients,full_nutrition,calories
4036,almost core chicken biryani,161604,60,194993,2006-03-27,"['60-minutes-or-less', 'time-to-make', 'course...","[418.2, 29.0, 9.0, 3.0, 38.0, 27.0, 13.0]",31,"['preheat oven to 350 degrees', 'in a small bo...",indian dish of rice and chicken. from the food...,"['skim milk', 'saffron thread', 'olive oil', '...",22,"[418.2, 29.0, 9.0, 3.0, 38.0, 27.0, 13.0]",418.2
8585,aromatic basmati pilaf,101587,50,161566,2004-10-08,"['60-minutes-or-less', 'time-to-make', 'course...","[265.9, 12.0, 16.0, 14.0, 11.0, 9.0, 14.0]",16,['heat oil and butter in a 3 quart pan over hi...,this pilaf perfumes the whole house as it cook...,"['vegetable oil', 'unsalted butter', 'cinnamon...",13,"[265.9, 12.0, 16.0, 14.0, 11.0, 9.0, 14.0]",265.9
18815,basmati asparagus rice,400760,35,560491,2009-11-23,"['60-minutes-or-less', 'time-to-make', 'course...","[212.8, 3.0, 9.0, 16.0, 14.0, 2.0, 13.0]",8,['rince rice under running water until water r...,easy way to combine your veggies with your sid...,"['basmati rice', 'chicken stock', 'water', 'sa...",7,"[212.8, 3.0, 9.0, 16.0, 14.0, 2.0, 13.0]",212.8
18822,basmati rice pilaf,124730,35,89831,2005-06-06,"['60-minutes-or-less', 'time-to-make', 'course...","[422.6, 26.0, 65.0, 17.0, 20.0, 32.0, 19.0]",9,"['in a medium saucepan , melt butter', 'saute ...","this basmati pilaf dish is fantastic, i have m...","['butter', 'onion', 'slivered almonds', 'basma...",13,"[422.6, 26.0, 65.0, 17.0, 20.0, 32.0, 19.0]",422.6
19946,beef and basmati rice casserole,89039,95,56112,2004-04-15,"['time-to-make', 'course', 'main-ingredient', ...","[435.8, 33.0, 7.0, 32.0, 52.0, 38.0, 10.0]",7,"['preheat oven to 375 f', 'in a skillet , brow...","this is not a fancy or pretty dish, just a pla...","['ground beef', 'onion', 'basmati rice', 'crea...",8,"[435.8, 33.0, 7.0, 32.0, 52.0, 38.0, 10.0]",435.8

In [29]:
print(matching_rows.shape[0])

60