In [24]:
import pandas as pd
import ast
from IPython.display import display
from pymongo import MongoClient, errors
import dotenv
import os
import logging
import sys
from pathlib import Path
from collections import Counter
import matplotlib.pyplot as plt

dotenv.load_dotenv()
logging.basicConfig(level=logging.INFO)

In [3]:
import bson
from utils.dbapi import DBapi

db = DBapi()

INFO:root:Connexion à la base de données établie avec succès.

In [4]:
recipe_id_df = DBapi.get_all_from(db, "recipe_id")
for i in range(5):
    print(recipe_id_df[i])

submitted_range = DBapi.find_range_submitted(db, '1999-08-09', '1999-08-12')

INFO:root:177429 documents trouvés pour recipe_id avec 'recipe_id'.
INFO:root:28 documents trouvés avec 'submitted' entre 1999-08-09 et 1999-08-12.

{'recipe_id': 53}
{'recipe_id': 66}
{'recipe_id': 84}
{'recipe_id': 85}
{'recipe_id': 92}

Index([
       
       'recipe_id', 'i', 'name_tokens', 'ingredient_tokens', 'steps_tokens',

       'techniques', 'calorie_level', 'ingredient_ids', 'name', 'minutes',

       'contributor_id', 'submitted', 'tags', 'nutrition', 'steps', 'n_steps',

       'description', 'ingredients', 'n_ingredients', 'review', 'date',

       'user_id', 'rating', 'cleaned_description', 'cleaned_name',

       'ingredients_processed', 'ingredients_replaced'],
       
      dtype='object')

In [6]:
Index = ['recipe_id', 'techniques', 'minutes', 'contributor_id', 'submitted',
       'steps', 'n_steps', 'review', 'date', 'user_id', 'rating',
       'cleaned_description', 'cleaned_name', 'ingredients_replaced']

print(Index)
print(f'{Index[0]}')

['recipe_id', 'techniques', 'minutes', 'contributor_id', 'submitted', 'steps', 'n_steps', 'review', 'date', 'user_id', 'rating', 'cleaned_description', 'cleaned_name', 'ingredients_replaced']
recipe_id

In [7]:
df = pd.DataFrame()
df.head()

Empty DataFrame
Columns: []
Index: []

In [7]:
db_api = DBapi()
with db_api:
    result = db_api.get_all_from('techniques')
    df_temp = pd.DataFrame(result)
    print(df_temp.head())

INFO:root:Connexion à la base de données établie avec succès.
INFO:root:177429 documents trouvés pour techniques avec 'recipe_id'.
INFO:root:Connexion à la base de données fermée.

   recipe_id                                         techniques
0         38  [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1         40  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2         45  [1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...
3         46  [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...
4         49  [1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, ...

In [48]:
db_api = DBapi()

with db_api:
    result_1 = db_api.get_all_from(Index[0])
    df = pd.DataFrame(result_1)
    for i in Index:
        result_1 = db_api.get_all_from(i)
        df_temp = pd.DataFrame(result_1)
        df = pd.merge(df_temp, df, on='recipe_id', how='left')

df.head()

INFO:root:Connexion à la base de données établie avec succès.
INFO:root:177429 documents trouvés pour recipe_id avec 'recipe_id'.
INFO:root:177429 documents trouvés pour recipe_id avec 'recipe_id'.
INFO:root:177429 documents trouvés pour techniques avec 'recipe_id'.
INFO:root:177429 documents trouvés pour minutes avec 'recipe_id'.
INFO:root:177429 documents trouvés pour contributor_id avec 'recipe_id'.
INFO:root:177429 documents trouvés pour submitted avec 'recipe_id'.
INFO:root:177429 documents trouvés pour steps avec 'recipe_id'.
INFO:root:177429 documents trouvés pour n_steps avec 'recipe_id'.
INFO:root:177429 documents trouvés pour review avec 'recipe_id'.
INFO:root:177429 documents trouvés pour date avec 'recipe_id'.
INFO:root:177429 documents trouvés pour user_id avec 'recipe_id'.
INFO:root:177429 documents trouvés pour rating avec 'recipe_id'.
INFO:root:177429 documents trouvés pour cleaned_description avec 'recipe_id'.
INFO:root:177429 documents trouvés pour cleaned_name avec 'recipe_id'.
INFO:root:177429 documents trouvés pour ingredients_replaced avec 'recipe_id'.
INFO:root:Connexion à la base de données fermée.

,recipe_id,ingredients_replaced,cleaned_name,cleaned_description,rating,user_id,date,review,n_steps,steps,submitted,contributor_id,minutes,techniques
0,53,"['all-purpose flmy', 'sugar', 'baking powder',...","['jimmy', 'g', 'carrot', 'cake']","['jimmy', 'g', 'carrot', 'cake']",[3],[557764],[2009-07-09],['First Jimmy let me say that the taste was gr...,15,['grease and lightly flour 2 9x1 1 / 2-inch ro...,1999-09-08,1772,110,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ..."
1,66,"['brewed coffee', 'ketchup', 'red wine vinegar...","['coffee', 'barbecue', 'sauce']","['folks', 'sauce', 'credit', 'member', 'thank'...","[4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, ...","[42938, 8679, 136813, 498631, 352271, 314792, ...","[2002-10-21, 2003-03-17, 2007-04-14, 2007-05-1...",['This was an excellent sauce! I did cut it in...,3,['combine all ingredients in a saucepan and si...,1999-09-10,174711,30,"[0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ..."
2,84,"['brussels sprout', 'fresh dill', 'wine vinega...","['brussels', 'sprouts', 'vinegar', 'dill']","['brussels', 'sprouts', 'vinegar', 'dill']","[5, 5, 5, 5]","[170807, 284922, 424741, 11297]","[2004-11-08, 2006-02-10, 2007-01-13, 2007-07-24]","[""This was the bomb! I love brussel sprouts an...",8,"['trim sprouts', 'halved if desired', 'in larg...",1999-09-07,1555,48,"[1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ..."
3,85,"['flmy', 'baking powder', 'caster sugar', 'but...","['butter', 'madeira']","['stand', 'food', 'processor']","[5, 5]","[27678, 273254]","[2005-03-25, 2009-02-09]","[""A perfect cake. I actually need it to use fo...",15,"['grease lined tin with melted butter', 'sift ...",1999-09-12,1543,175,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ..."
4,92,"['orange', 'seedless grape', 'honey', 'lemon j...","['bag', 'apple', 'salad']",['yum'],"[5, 5, 4, 5, 5]","[64583, 204118, 324621, 1248818, 851190]","[2004-05-06, 2007-02-11, 2007-05-14, 2009-07-2...","[""I've had this in my cookbook for ages, final...",4,"['in medium-size bowl , stir together orange j...",1999-08-13,1533,10,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [60]:
df_g = df.copy()
df_g['rating'] = df_g['rating'].apply(lambda x: ast.literal_eval(str(x)))

In [63]:
df_g.head()
# Analyse des reviews
print(len(df_g['rating'][0]))
print(df_g['rating'][0])
print(len(df_g['rating'][1]))
print(df_g['rating'][1])

1
[3]
19
[4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

In [ ]:
df_g['rating_count'] = df_g['rating'].apply(len)
top_5_recipes = df_g.sort_values(by='rating_count', ascending=False).head(5)
print(top_5_recipes[['submitted','recipe_id', 'rating_count','cleaned_name']])

TypeError: object of type 'float' has no len()

In [84]:
print(top_5_recipes['rating'].isna().sum())

0

In [ ]:
df_g['rating'] = pd.to_numeric(df_g['rating'], errors='coerce')
print(df_g['rating'][1])

nan
    submitted  recipe_id  rating                                cleaned_name
0  1999-09-08         53     NaN            ['jimmy', 'g', 'carrot', 'cake']
1  1999-09-10         66     NaN             ['coffee', 'barbecue', 'sauce']
2  1999-09-07         84     NaN  ['brussels', 'sprouts', 'vinegar', 'dill']
3  1999-09-12         85     NaN                       ['butter', 'madeira']
4  1999-08-13         92     NaN                   ['bag', 'apple', 'salad']

In [76]:
df_g['date'] = df_g['date'].apply(lambda x: pd.to_datetime(x))

In [ ]:
# Ensure 'date' column is in datetime format
df_g['date'] = pd.to_datetime(df_g['date'], errors='coerce')

TypeError: list indices must be integers or slices, not str